{% extends 'ProyectoWebApp/base.html' %}

{% load static %}

{% block content %}

    {% for post in posts %}
    <div class="container">
    
    <div class="col-auto d-flex flex-row justify-content-around ">
    <div class="card text-white bg-success mt-1 mb-1 mb-3 " style="max-width: 18rem;">
            <div class="card-header"></div>
            <img src="{{post.imagen.url}}" alt="">
                <div class="card-body text-center">
                <h3 class="card-title">{{post.titulo}}</h3>
                <p class="card-text">{{post.contenido}}</p>
            </div>
            <p class="ml-2" style="font-size: 0.8rem;">Autor : {{post.autor}}</p>
            </div>
        </div>
    </div>
    </div>
    {% endfor %}

    <section >
        <div  style="margin: auto; width: 75%; text-align: center; color: white;">
        Categorias: 

        {% for post in posts %}
            {% for categoria in post.categorias.all %}
            {{categoria.nombre}} &nbsp; &nbsp;
            {% endfor %}
        {% endfor %}
        </div>
    </section>
    

{% endblock %}